body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}